spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      routes:
        - id: transaction-orchestrator
          uri: http://localhost:8081
          predicates:
            - Path=/transactions/**

  redis:
    host: localhost
    port: 6379

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics